StockExchangePresentation/Service References/StockExchangeServices/StockExchange1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SE_Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SE_Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balances" nillable="true" type="tns:ArrayOfBalance" />
      <xs:element minOccurs="0" name="DateTimeAdded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTimeDeleted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTimeUpdated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserStocks" nillable="true" type="tns:ArrayOfUserStock" />
      <xs:element minOccurs="0" name="UserType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfBalance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Balance" nillable="true" type="tns:Balance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBalance" nillable="true" type="tns:ArrayOfBalance" />
  <xs:complexType name="Balance">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance1" type="xs:int" />
      <xs:element minOccurs="0" name="DateTimeAdded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTimeDeleted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTimeUpdated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Balance" nillable="true" type="tns:Balance" />
  <xs:complexType name="ArrayOfUserStock">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserStock" nillable="true" type="tns:UserStock" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserStock" nillable="true" type="tns:ArrayOfUserStock" />
  <xs:complexType name="UserStock">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTimeAdded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTimeDeleted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTimeUpdated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Stock" nillable="true" type="tns:Stock" />
      <xs:element minOccurs="0" name="StockCount" type="xs:int" />
      <xs:element minOccurs="0" name="StockId" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserStock" nillable="true" type="tns:UserStock" />
  <xs:complexType name="Stock">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTimeAdded" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTimeDeleted" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTimeUpdated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HighPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LowPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="StockName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserStocks" nillable="true" type="tns:ArrayOfUserStock" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stock" nillable="true" type="tns:Stock" />
</xs:schema>